extends layouts/login-layout.pug

block content 
    .signupContainer
        div(class=alertType) #{msg}
        h1 Create your account
        form#signup-form(method="post", onsubmit="event.preventDefault(); validateForm();")
            input.input-text(type="text", name="firstName", placeholder="First Name", value=firstName, required="")
            input.input-text(type="text", name="lastName", placeholder="Last Name", value=lastName, required="")
            input.input-text(type="text", name="username", placeholder="Username", value=username, required="")
            input.input-text(type="email", name="email", placeholder="Email", value=email required="")
            input.input-text#password(type="password", name="password", placeholder="Password", required="")
            input.input-text#passwordCfm(type="password", name="passwordCfm", placeholder="Confirm Password", required="")
            div
                input.input-signup(type="submit", value="Sign up")
        div 
            span Already have an account? 
            a(href="/login") Login

    script.
        const form = document.getElementById('signup-form');
        const password = document.getElementById('password');
        const passwordCfm = document.getElementById('passwordCfm');

        const validateForm = () => {
            console.log(form);
            password.value === passwordCfm.value ? form.submit() : alert("Password do not match");
        }